body { 
  margin: 50 auto;
  color: #333;
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
}

#container {
  /*width: 1200px; 
  margin: 0 auto;*/
}

#header {
  line-height: 1em;
  display: flex; 
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: x-large;
}

section {
  margin-bottom: 3em;
}

section p {
  text-align: justify;
}

svg {
  overflow: hidden;  
}

pre {
  border: 1px solid #ccc;
}

/* This sets the color for "TK" nodes to a light blue green. */
g.type-TK > rect {
  fill: #00ffd0;
}

text {
  font-weight: 300;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 14px;
}

.node rect, .node ellipse {
  stroke: #000;  
  stroke-width: 1.5px;
  /*filter: url(#drop-shadow);*/
}

.node text {
  font-weight: normal;
  font-size: large;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.edge {
  stroke: #999;
  stroke-width: 1.5;
  fill: none;
  marker-end: url(#arrow);
}

.name {
  font-weight: bold;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serf;
  font-size: 16px;
}

.legend {
  stroke: black;
  stroke-width: 1px;    
}

svg text {
  text-anchor: middle;
  dominant-baseline: central;  
}

.arrowHead {
  stroke: #999;
  fill: #999;
}

.node text.prefix {
  font-weight: normal;
  font-size: 10px;
  fill: white;
}

.node circle.prefix {
  fill: black;
}

.warning {
  fill: yellow;
  stroke: black;
  stroke-width: 2;  
}

.year, .reqs {
  font-size: 14px;
}

.year span, .reqs span {
  color: moccasin;
}

#powered {  
  line-height: .1em;
}

img {
  width: 75px;
  vertical-align: middle;
}